<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compagne - Hygiène&Securité au travail</title>
</head>
<body>
  <header>
    <nav>
        <a href="index.html">Acceuil</a>
        <a href="questionnaire.html">Questionnaire</a>
    </nav>


  </header>  

  <main>
        
    <section class="Conseils-1">
        <h2>Conseils pratiques</h2>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, modi nisi repellendus architecto aut sunt rerum dolor, magnam mollitia non voluptatem? Cupiditate corporis numquam temporibus, officia alias tenetur error vero?
    </section>
    <section class="Conseils-2">
        <h2>Conseils x</h2>
        <b>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit expedita eos beatae molestias recusandae aperiam aspernatur, sequi eveniet earum soluta nam porro tenetur laborum quia, iste quisquam voluptate excepturi dolorum?
        </b>
    </section>
   
    <section class="Conseils-3">
        <h2>Conseils pratiques</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat modi minima, tempore doloribus ullam enim ex autem delectus est, similique atque neque alias vitae itaque repudiandae aliquid iste voluptatibus omnis.
    </section>
    
    <section class="Conseils-4">
        <h2>Conseils pratiques</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis eveniet, commodi excepturi consectetur ipsum voluptatem, dolor, eum in expedita sed numquam debitis? Quam facilis dolor id deleniti, est magnam minima?
    </section>
  </main>

  <footer>



  </footer>
</body>
</html>